<div #sidebar class="sidebar">
    <!-- Search Input -->
    <form class="sidebar-search">
        <div class="input-box">
            <button type="submit" class="submit">
                <i class="fa fa-search"></i>
            </button>
            <span>
                <input type="text" placeholder="Procurar...">
            </span>
        </div>
    </form>

     <!-- 

    <ul #nav id="nav">
     
        
        <li>
            <a href="dashboard">
                Dashboard
                <i class="fa fa-tachometer" aria-hidden="true"></i>
            </a>
        </li>
  
     
        <li class="current">
            <a href="javascript:void(0);">
                <i class="icon-desktop"></i>
                Cadastros
                <span class="label label-info pull-right">6</span>
            </a>
      
              <ul class="sub-menu">
                <li>
                    <a href="cadastros/cooperados">
                        <i class="icon-circle"></i>
                        Cooperados
                    </a>
                </li>

                <li>
                    <a href="cadastros/cliente">
                        <i class="icon-circle"></i>
                        Clientes
                    </a>
                    
                </li>

            </ul>
        </li>


    </ul>
-->
      
    <div class="resizeable"></div>

</div>