<div class="row">

    <div class="col">

        <ejs-grid #grid [dataSource]='data' [toolbar]='toolbar' [allowPaging]='true' [allowSorting]='true'
            [allowPdfExport]="true" [allowFiltering]="true" [filterSettings]='filterOptions'
            [pageSettings]='initialPage' [contextMenuItems]='contextMenuItems' [allowReordering]='true'
            showColumnMenu='true'
            (recordDoubleClick)="dblUpdateEvent($event)"
            (toolbarClick)="toolbarClick($event)">
            <e-columns>
                <e-column field='Id' headerText='Id' width=30></e-column>
                <e-column field='Matricula.Value' headerText='Matricula' width=80 textAlign='Left'></e-column>
                <e-column field='Nome.Value' headerText='Nome' width=120 textAlign='Left'></e-column>
                <e-column field='Endereco.Logradouro.Value' headerText='Logradouro' width=120></e-column>
                <e-column field='Endereco.Cidade.Value' headerText='Cidade' [filter]='filter' width=120></e-column>
                <e-column field='Nascimento.Value' headerText='Nascimento' textAlign='Right' format='dd/MM/y' width=120>
                </e-column>
            </e-columns>
        </ejs-grid>
    </div>
</div>