<div class="row">
  <div class="col-8">
    <div class="row">
      <div class="col-lg-12" class="title-content"><h4>Contatos</h4></div>
    </div>
    <div class="row">
      <div class="col-lg-6"></div>
      <div class="col-6">
        <div class="e-input-group">
          <input class="e-input" type="text" placeholder="Date of Birth"   />
          <span class="e-input-group-icon e-input-calendar" ></span>
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12" style="height: 80px; ">
        <button ejs-button>Novo</button>
      </div>
      <div class="col-12" style="background-color: darkmagenta; height: 20x;">Ações Grid</div>
      <div class="col-12" style="background-color: orange; height: 1000px;">Grid</div>
    </div>
  </div>
  <div class="col-4" style="background-color: darkturquoise">
      Teste
  </div>
</div>
